<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html" />
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html" />_
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html" />_
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html" />_
<link rel="import" href="../../bower_components/paper-material/paper-material.html" />_
<link rel="import" href="../../bower_components/pl-components/pl-router.html" />_
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html" />_
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../../bower_components/paper-button/paper-button.html" />

<dom-module id="ch-chat-message">

    <template>
        <style>
            :host #text {
                background-color: antiquewhite;
                display: inline-block;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                margin-top: 5px;
                min-width: 100px;
            }


            ul li a, ul li a:visited {
                color: blue;
                text-decoration: none;
            }

            :host #text.me {
                float: right;
                background-color: white;
            }

            :host ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

                :host ul .nome {
                    font-size: 80%;
                    text-align: right;
                    font-weight: bold;
                    color: cornflowerblue;
                }

                :host ul .conteudo {
                    font-size: 22px;
                }
        </style>

        <div id="text" class$="{{_msgClass(me)}}">
            <ul>
                <li class="nome">{{nomeUsuario}}</li>
                <template is="dom-repeat" items="{{files}}">
                    <template is="dom-if" if="{{!_file(item.type)}}">
                        <li><img style="margin:5px;max-height:300px;max-width:300px" src="{{item.content}}" /></li>
                    </template>
                    <template is="dom-if" if="{{_file(item.type)}}">
                        <li><a href="{{_downloadUrl(item)}}" target="_blank"><img style="margin:5px;max-height:60px;max-width:60px" src="/content/cabinet.png" title="{{item.name}}" /></a></li>
                    </template>
                </template>
                <li class="conteudo" inner-h-t-m-l="{{_parse(text)}}"></li>
            </ul>
        </div>
    </template>

    <script>
        var urlRegex = /((ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?)/g;
        Polymer({
            is: "ch-chat-message",
            properties: {
                text: String,
                me: Boolean,
                nomeUsuario: String,
                files:Array
            },
            _msgClass: function (me) {
                return me ? "me" : "other";
            },
            _parse(message) {
                var ret = message || "";

                ret = ret.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                if (urlRegex.test(message)) {
                    ret = ret.replace(urlRegex, '<a href="\$1" target="_blank">\$1</a>');
                }
                return ret;
            },
            _downloadUrl: function (item) {
                return `/api/files/${item.id}`;
            },
            _file: function (type) {
                return type == "file";
            }
        });

    </script>

</dom-module>